@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Book.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Extrabold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.text-orange {
  color: #ff4713;
}
body {
  background-color: #c0c0c0;
  font-family: "BLK Fort", Arial, Helvetica, sans-serif;
}
.page {
  height: 7.5in;
  width: 10in;
  background-color: #ffffff;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.p0-date {
  font-size: 14pt;
}

.p0-title1 {
  font-size: 45pt;
}

.p0-title2 {
  font-size: 40pt;
}

.p0-logo {
  height: 35px;
}

.p0-center {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.page-number {
  text-align: right;
  color: #ffffff;
  font-size: 8pt;
}

.page-title {
  font-size: 22pt;
  line-height: 100%;
}

.page-subtitle {
  font-size: 18pt;
}

.p1-description {
  line-height: 100%;
  color: #000000;
  font-size: 11pt;
}

.p1-charts {
  margin-top: 24px;
  height: 4.5in;
  width: 100%;
}

.p1-canvas {
  width: calc(100% + 8px) !important;
  height: 100% !important;
  transform: translateX(-8px);
}

.p1-charts > div::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 7px);
  top: 0;
  background-color: #7c7b7f;
}

.p1-charts > div:nth-child(1):after {
  left: 25%;
}

.p1-charts > div:nth-child(2):after {
  left: 50%;
}

.p1-charts > div:nth-child(3):after {
  left: 75%;
}

.p1-charts::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 5px;
  background-color: #7c7b7f;
}

.p1-bar-label {
  color: #000000;
  font-weight: 700;
  font-size: 9pt;
}

.p1-foot-desc {
  font-size: 7.5pt;
}

.p2-chart-title {
  font-size: 13pt;
}

.chart-ball {
  font-size: 7.5pt;
  font-weight: 600;
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #ff4713;
  border-radius: 100px;
}

.light-orange-ball {
  background-color: #ffb194;
}

.customXticks .tick {
  font-size: 10.67px;
  text-align: center;
  min-width: 30px;
  white-space: nowrap;
  line-height: 1.2;
}

.p2-custom-legends {
  font-size: 9pt;
}

.legend-color-box {
  height: 12pt;
  width: 12pt;
}

.p2-info {
  font-size: 9pt;
  font-weight: 800;
  color: #000000;
}

.page-desc {
  font-size: 7pt;
  color: #000000;
  line-height: 120%;
}
.comboLineChart {
  width: 100% !important;
  height: 125px !important;
  position: relative;
  z-index: 1;
  transform: translateY(70px);
}
.comboBarChart {
  width: 100% !important;
  height: 250px !important;
  position: relative;
  z-index: 0;
}

.combo-charts{
  transform: translateY(-30px);
}

.combo-legends .custom-legend-item:last-of-type .legend-color-box{
  height: 8px !important;
  width: 20px !important;
  border-radius: 100px !important;
}

.combo-legends{
  font-size: 8pt !important;
}

#p4c1LineChart,
#p4c2LineChart{
  height: 80px !important;
}


.info-number-list {
  max-width: 50%;
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 1.5em;
}

.info-number-list li {
  padding-left: 15px;
  counter-increment: custom-counter;
  position: relative;
  margin-bottom: 0.5em;
}

.info-number-list li::before {
  content: "(" counter(custom-counter) ")";
  position: absolute;
  left: 0;
  font-weight: bold;
}

.plot-container{
  width: 100% !important;
}

.customXticksSm .tick{
  font-size: 8px !important;
}

.table td,.table th{
  padding: 0 2px;
}

.table-bordered{
  border-color: transparent !important;
}
.col-30{
  width: 30%;
  padding: 0 6px;
}

.col-20{
  width: 20%;
  padding: 0 6px;
}


.table-1 th{
  font-size: 9pt;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  padding: 2px 0 !important;
  vertical-align: bottom;
}

.row-border-y>*{
  border: 0;
  border-top: 3px solid #000000 !important;
  border-bottom: 3px solid #000000 !important;
}

.t1-info-th{
  font-size: 9pt;
}

.py-2px{
  padding: 2px 0;
}

.table-1 tbody td{
  font-size: 8pt;
  color: #00000b;
}

.table-body-bordered tbody th,
.table-body-bordered tbody td,
.table-body-bordered tbody tr{
  border-color: transparent !important;
}

.table-body-bordered tbody tr td:first-child,
.table-body-bordered tbody tr th:first-child{
  border-left: 2px solid #000000 !important;
}

.table-body-bordered tbody tr td:last-child,
.table-body-bordered tbody tr th:last-child{
  border-right: 2px solid #000000 !important;
}

.table-body-bordered tbody tr:last-child td,
.table-body-bordered tbody tr:last-child th{
  border-bottom: 2px solid #000000 !important;
}

.table-body-bordered tbody tr:nth-child(2) td,
.table-body-bordered tbody tr:nth-child(2) th{
  border-top: 2px solid #000000 !important;
}

.table-body-bordered tbody tr:first-child td,
.table-body-bordered tbody tr:first-child th{
  border: 0 !important;
}
.table .t1-info-th,
.table .t1-header-th{
  padding: 8px 0 !important;
}

.reconcilation-ht td{
  font-size: 10px !important;
  color: #79797b !important;
}

.table .border-b-normal{
  border-bottom: 2px solid #000000;
}

.table .border-b-3{
  border-bottom-width: 3px;
}

.table .border-b-dashed{
  border-bottom: 4px double #000000;
}

.table-1.reconcilation-table tbody td{
  font-size: 10px !important;
  padding: 0 !important;
}
.table-1.reconcilation-table tbody td>span{
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.py-3px {
  padding: 2.5px 0 !important;
}
.table-1 .t2-header-th{
  padding: 7.5px 0 !important;
}

.table-1 .border-b-normal:not(.border-b-3){
  padding-bottom: 3px !important;
}

.table-1.reconcilation-table td,
.table-1.reconcilation-table th{
  border-left: 0 !important;
  border-right: 0 !important;
}

.table-1.reconcilation-table .border-groove {
  border-bottom-style: groove !important;
}

.notes-desc{
  font-size: 8.5pt;
  line-height: 125%;
  color: #000000;
}

.p12-chart-title{
  font-size: 16pt;
  font-weight: 800;
}
.stack-label{
  font-size: 11pt;
  font-weight: 700;
  color: #000000;
}

.color-circle{
  height: 18px;
  width: 18px;
  border-radius: 100px;
}