@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Book.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Extrabold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BLK Fort";
  src: url(../fonts/FortTRIAL-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.text-orange {
  color: #ff4713;
}
body {
  background-color: #c0c0c0;
  font-family: "BLK Fort", Arial, Helvetica, sans-serif;
}
.page {
  height: 7.5in;
  width: 10in;
  background-color: #ffffff;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-black {
  font-weight: 900;
}

.p0-date {
  font-size: 14pt;
}

.p0-title1 {
  font-size: 45pt;
}

.p0-title2 {
  font-size: 40pt;
}

.p0-logo {
  height: 35px;
}

.p0-center {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.page-number {
  text-align: right;
  color: #ffffff;
  font-size: 8pt;
}

.page-title {
  font-size: 22pt;
  line-height: 100%;
}

.page-subtitle {
  font-size: 18pt;
}

.p1-description {
  line-height: 100%;
  color: #000000;
  font-size: 11pt;
}

.p1-charts {
  margin-top: 24px;
  height: 4.5in;
  width: 100%;
}

.p1-canvas {
  width: calc(100% + 8px) !important;
  height: 100% !important;
  transform: translateX(-8px);
}

.p1-charts > div::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 7px);
  top: 0;
  background-color: #7c7b7f;
}

.p1-charts > div:nth-child(1):after {
  left: 25%;
}

.p1-charts > div:nth-child(2):after {
  left: 50%;
}

.p1-charts > div:nth-child(3):after {
  left: 75%;
}

.p1-charts::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 5px;
  background-color: #7c7b7f;
}

.p1-bar-label {
  color: #000000;
  font-weight: 700;
  font-size: 9pt;
}

.p1-foot-desc {
  font-size: 7.5pt;
}

.p2-chart-title {
  font-size: 13pt;
}

.chart-ball {
  font-size: 7.5pt;
  font-weight: 600;
  text-align: center;
  height: 25px;
  width: 25px;
  background-color: #ff4713;
  border-radius: 100px;
}

.light-orange-ball {
  background-color: #ffb194;
}

.customXticks .tick {
  font-size: 10.67px;
  text-align: center;
  min-width: 30px;
  white-space: nowrap;
  line-height: 1.2;
}

.p2-custom-legends {
  font-size: 9pt;
}

.legend-color-box {
  height: 12pt;
  width: 12pt;
}

.p2-info {
  font-size: 9pt;
  font-weight: 800;
  color: #000000;
}

.page-desc {
  font-size: 7pt;
  color: #000000;
  line-height: 120%;
}
.comboLineChart {
  width: 100% !important;
  height: 125px !important;
  position: relative;
  z-index: 1;
  transform: translateY(70px);
}
.comboBarChart {
  width: 100% !important;
  height: 250px !important;
  position: relative;
  z-index: 0;
}

.combo-charts{
  transform: translateY(-30px);
}

.combo-legends .custom-legend-item:last-of-type .legend-color-box{
  height: 8px !important;
  width: 20px !important;
  border-radius: 100px !important;
}

.combo-legends{
  font-size: 8pt !important;
}

#p4c1LineChart,
#p4c2LineChart{
  height: 80px !important;
}


.info-number-list {
  max-width: 50%;
  list-style: none;
  counter-reset: custom-counter;
  padding-left: 1.5em;
}

.info-number-list li {
  padding-left: 15px;
  counter-increment: custom-counter;
  position: relative;
  margin-bottom: 0.5em;
}

.info-number-list li::before {
  content: "(" counter(custom-counter) ")";
  position: absolute;
  left: 0;
  font-weight: bold;
}